{{!-- Password Reset Template --}}
<h2>Password Reset Request</h2>
<p>Hello, {{name}}!</p>
<p>We received a request to reset your password. Click the button below to set a new password:</p>
{{> button link=resetUrl text="Reset Password"}}
<p>If you did not request this, please ignore this email or contact support.</p>
