{{!-- Email Verification Template --}}
<h2>Hello, {{name}}!</h2>
<p>We are delighted to have you on board. With PayVerse, you get effortless comprehensive financial solutions such as bank transfers, invoice management, virtual cards, multi-currency virtual accounts, cross-currency payments, and real-time analytics - all in one platform!</p>
<p>Use the link below to verify your email address:</p>
{{> button link=verificationUrl text="Verify"}}
<p>Need help, or have questions? Just reply to this email, we'd love to help.</p>